.board {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

table{
  margin: 5px;
  border-collapse: collapse;
  border-spacing: 0px;
}

td {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(102, 102, 102);
  cursor: pointer;
}

td.x, td.o {
  cursor: default; 
}

td.o::after{
  content: 'O';
  display: block;
  position: relative;
  font-size: xx-large;
  font-family: monospace;
}

td.x::after{
  content: 'X';
  display: block;
  position: relative;
  font-size: xx-large;
  font-family: monospace;
}

.r3 td, .r6 td{
  border-bottom: 3px solid rgb(102, 102, 102);
}

.c4, .c7{
  border-left: 3px solid rgb(102, 102, 102);
}

.information{
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 70vh;
  display: flex;
  justify-content: space-between;
}

.player{
  text-align: start;
  padding: 10px;
}

.turn{
  border: 2px solid white;
  border-radius: 5px;
}

.username{
  margin: 5px;
  margin-bottom: 2px;
  font-weight: bold;
}

.time{
  margin: 5px;
  margin-top: 0px;
  font-weight: lighter;
  color: grey;
}

